body {
	background-color: darkslategray;
}

#wrapper {
	display: grid;
	justify-content: center;
	align-items: center;
	margin-left: 5%;
	margin-right: auto;

	
}

header {
	display: grid;
	font-family: 'DotGothic16', sans-serif;
	color: whitesmoke;
	font-size: 70px;
	font-weight: 600;
	text-shadow: 4px 1px slategray;
	justify-content: center;
}

#tools {
	display: grid;
	position: relative;
	grid-row: 2;
	background: lightslategrey;
	position: relative;
	grid-column: 2;
	height: 400px;
	width: 100px;
	border: 4px solid black; 
	border-radius: 4px;
}

#container {
	display: grid;
	grid-column: 1;
	grid-row: 2;
	
	width: 520px;
	height: 520px;
	border: 6px solid black;
	border-radius: 4px;
	margin-top: 4%;
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.cell {
	width: 100%;
    position: relative;
	background: whitesmoke;
	border: 1px solid black;
	font-size: 0px;
	color: whitesmoke;

	/* prevent dragging of cells */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

button {
	background: lightslategrey;
	font-size: 1rem;
	
}

button:hover {
	cursor: pointer;
	
}

input:hover {
	cursor: pointer;
}